<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css">
    <title>Cuentas</title> -->

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="./assets/img/1658950265.ico" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="./create-cards.css" />

</head>

<body>

    <nav class="sidebar open colornav">


        <header>
            <i class="bx bx-chevron-right toggle "></i>

        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <ul class="menu-links">
                        <li class="nav-links menuLinks">
                            <a href="./accounts.html">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-links menuLinks">
                            <a href="./transfers.html">
                                <i class="bx bx-bar-chart-alt-2 icon"></i>
                                <span class="text nav-text">Transfers</span>
                            </a>
                        </li>

                        <li class="nav-links menuLinks">
                            <a href="./">
                                <i class="bx bx-pie-chart-alt icon"></i>
                                <span class="text nav-text">Analytics</span>
                            </a>
                        </li>

                        <li class="nav-links menuLinks">
                            <a href="./loan-application.html">
                                <i class="bx bx-wallet icon"></i>
                                <span class="text nav-text">Accounts</span>
                            </a>
                        </li>

                        <li class="nav-links menuLinks">
                            <a href="./cards.html">
                                <i class="bx bx-wallet icon"></i>
                                <span class="text nav-text">Cards</span>
                            </a>
                        </li>
                    </ul>
            </div>


        </div>
    </nav>



    <!-------------------- END OF SIDEBAR -------------------->

    <main class="home colorhome pb-5 d-flex flex-column" id="app">


        <div class="colorHeader">
            <div class="blueIcon">
                <h1 class="titleBlueBank fst-italic font-monospace  d-flex">Wave Bank</h1>
                <img class="imgBank" src="./assets/banklogonazi.png" alt="logo" />
            </div>
            <nav class="navbar">
                <div>
                    <div class="d-flex contenedorNav">
                        <button class="btn btn buttomL"> <a class="text-white" @click="logOut" href="./index.html"
                                type="button">Logout
                            </a></button>
                    </div>
                </div>
            </nav>

        </div>



        <div class="tituloWelcome">
            <h1 class=" fw-bold  fst-italic font-monospace animate__animated animate__zoomIn">¡Welcome
                {{clients.firstName}} {{clients.lastName}}! </h1>
        </div>
        <div class="tituloCards">
            <h3
                class="fw-bold d-flex mt-5  fw-bold fst-italic font-monospace mb-5  d-flex justify-content-center fs-1 font-monospace animate__animated animate__zoomIn">
                Create your Card</h3>
            <img class="imgCards" src="./assets/cards.png" alt="logo" />
        </div>


        <div class="bodies d-flex justify-content-center align-items-center mt-5 responsiveCards">


            <div class="selectedColor fw-bold fst-italic font-monospace text-white me-3">Selected: {{ selectedColor }}
            </div>

            <select class=" form-select formSelects  mb-4 text-center" v-model="selectedColor" class="form-select"
                aria-label="Default select example">
                <option class="textsOption  fst-italic text-info fs-3 text-center" disabled value="">Please select one
                </option>
                <option class="textsOption2 fst-italic text-black-50 fs-4  fw-semibold font-monospace text-center">
                    SILVER</option>
                <option class="textsOption2 fst-italic text-black-50 fs-4  fw-semibold font-monospace text-center">GOLD
                </option>
                <option class="textsOption2 fst-italic text-black-50 fs-4  fw-semibold font-monospace text-center">
                    TITANIUM</option>
            </select>




            <div class="selectedColor fw-bold fst-italic font-monospace text-white me-3"> Selected: {{ selectedType }}
            </div>

            <select class=" form-select formSelects  mb-4 text-center" v-model="selectedType" class="form-select"
                aria-label="Default select example">
                <option class="textsOption  fst-italic text-info fs-3 text-center" disabled value="">Please select one
                </option>
                <option class="textsOption2 fst-italic text-black-50 fs-4  fw-semibold font-monospace text-center">DEBIT
                </option>
                <option class="textsOption2 fst-italic text-black-50 fs-4  fw-semibold font-monospace text-center">
                    CREDIT</option>
            </select>


            </select>
            <div v-if="cards.length == 6">
                <p>Too many cards</p>
            </div>
            <div v-else>
                <button class="buttomCreate " type="submit" class="btn btn-warning btnCreateAccount ms-5 fw-bolder"
                    @click="createCards">Create a card</button>
            </div>
        </div>








        <div class="d-flex justify-content-around align-items-center flex-wrap gap-5 bodies " style="margin-top: 40px;">

            <div class="card" v-show="selectedType == 'DEBIT' " v-show="selectedColor== 'GOLD' , 'SILVER', 'TITANIUM'">

                <div class="cardFront"
                    :class="{'cardGold' : selectedColor == 'GOLD' , 'cardSilver' : selectedColor == 'SILVER' , cardTitanium : selectedColor == 'TITANIUM'}">
                    <p class="fs-3 fw-bolder cardName">Wave Bank <img class=" bankLogo " src="./assets/bank.png"
                            alt="logo" /></p>
                    <img class="cardFront-logo cardLogo" src="./assets/visa.png">
                    <p class="cardNumber fw-bolder number425">6666-6666-6666-6666</p>
                    <div class="cardSpace-cardHolder">
                        <span class="cardLabel fw-bolder">Card holder</span>
                        <p class="cardInfo fw-bolder">{{name}}</p>
                    </div>
                    <div class="cardSpace-expires">
                        <span class="cardLabel fw-bolder">Expires</span>
                        <p class="cardInfo fw-bolder">****</p>
                        <p class="text-dark fst-italic fw-bolder">Debit</p>
                    </div>
                </div>

                <div class="cardBack "
                    :class="{'cardGold' : selectedColor == 'GOLD' , 'cardSilver' : selectedColor == 'SILVER' , cardTitanium : selectedColor == 'TITANIUM'}">
                    <div class="cardBlack-line"></div>
                    <div class="cardBack-content">
                        <div class="cardSecret">
                            <p class="cardSecret-last fw-bolder">5345</p>
                        </div>
                        <p class="fst-italic mt-4 textResponsive"> This card is issued by Wave Bank. pursuant to
                            license by
                            Visa international. Visa Global Service Number 1-665-633-711</p>
                    </div>
                </div>


            </div>

        </div>


        <div class="d-flex justify-content-around align-items-center flex-wrap gap-5 bodies " style="margin-top: 40px;">

            <div class="card" v-show="selectedType == 'CREDIT' "
                v-show="selectedColor== 'GOLD', 'SILVER ', 'TITANIUM' ">
                <div class="cardFront"
                    :class="{'cardGold' : selectedColor == 'GOLD' , 'cardSilver' : selectedColor == 'SILVER' , cardTitanium : selectedColor == 'TITANIUM'}">
                    <p class="fs-3 fw-bolder cardName">Wave Bank <img class=" bankLogo " src="./assets/bank.png"
                            alt="logo" /></p>
                    <img class="cardFront-logo cardLogo" src="./assets/visa.png">
                    <p class="cardNumber fw-bolder number425">0000-0000-0000-0000</p>
                    <div class="cardSpace-cardHolder">
                        <span class="cardLabel fw-bolder">Card holder</span>
                        <p class="cardInfo fw-bolder">{{name}}</p>
                    </div>
                    <div class="cardSpace-expires">
                        <span class="cardLabel fw-bolder">Expires</span>
                        <p class="cardInfo fw-bolder">****</p>
                        <p class="tetx-dark fst-italic fw-bolder ">Credit</p>
                    </div>
                </div>

                <div class="cardBack "
                    :class="{'cardGold' : selectedColor == 'GOLD' , 'cardSilver' : selectedColor == 'SILVER' , cardTitanium : selectedColor == 'TITANIUM'}">
                    <div class="cardBlack-line"></div>
                    <div class="cardBack-content">
                        <div class="cardSecret">
                            <p class="cardSecret-last fw-bolder">43243242</p>
                        </div>
                        <p class="fst-italic mt-4 textResponsive"> This card is issued by Wave Bank. pursuant to
                            license by
                            Visa international. Visa Global Service Number 1-665-633-711</p>
                    </div>
                </div>

            </div>

        </div>

    </main>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!-- <script src="/path/to/flickity.pkgd.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="./create-cards.js"></script>

    <script src="https://kit.fontawesome.com/6b623874a7.js" crossorigin="anonymous"></script>
</body>

</html>