<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css">
    <title>Cuentas</title> -->

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="./assets/img/1658950265.ico" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="./loan-application.css" />

</head>

<body>

    <nav class="sidebar open colornav">


        <header>
            <i class="bx bx-chevron-right toggle "></i>

        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <ul class="menu-links">
                        <li class="nav-links menuLinks">
                            <a href="./accounts.html">
                                <i class="bx bx-home-alt icon"></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-links menuLinks">
                            <a href="./transfers.html">
                                <i class="bx bx-bar-chart-alt-2 icon"></i>
                                <span class="text nav-text">Transfers</span>
                            </a>
                        </li>
                        <li class="nav-links menuLinks">
                            <a href="#">
                                <i class="bx bx-wallet icon"></i>
                                <span class="text nav-text">Loans</span>
                            </a>
                        </li>

                        <li class="nav-links menuLinks">
                            <a href="./cards.html">
                                <i class="bx bx-wallet icon"></i>
                                <span class="text nav-text">Cards</span>
                            </a>
                        </li>
                    </ul>
            </div>


        </div>
    </nav>


    <!-------------------- END OF SIDEBAR -------------------->

    <main class="home colorhome pb-5 d-flex flex-column" id="app">

        <div class="colorHeader">
            <div class="blueIcon">
                <h1 class="titleBlueBank fst-italic font-monospace  d-flex ">Wave Bank</h1>
                <i class="fa-solid fa-building-columns LOGO" ></i>       
            </div>
            <div>
            </div>
            <nav class="navbar">
                <div id="app">
                    <div class="d-flex contenedorNav">
                        <button class="btn btn buttomL"> <a class="botonL text-white fst-italic" @click="logOut"
                                href="./index.html" type="button">Logout
                            </a></button>
                    </div>
                </div>
            </nav>

        </div>




        <div class="tituloWelcome">
            <h1 class=" fw-bold  fst-italic font-monospace animate__animated animate__zoomIn">¡Welcome
                {{clients.firstName}} {{clients.lastName}}! </h1>
        </div>
        <div class="tituloAccounts">
            <h3
                class="fw-bold d-flex mt-5  fw-bold fst-italic font-monospace mb-5  d-flex justify-content-center fs-1 font-monospace animate__animated animate__zoomIn">
                Loans</h3>
        </div>


        

            <div class=" container d-flex justify-content-center flex-column align-items-center mt-5">
                <form class="mb-5">

                    <h3 class="text-white textResponsive fst-italic fw-bold font-monospace d-flex justify-content-center  fs-2 mt-4 mb-2">What kind of loan you want?</h3>
                        <select class=" form-select formSelects  mb-4 text-center" v-model="loanId" class="form-select" aria-label="Default select example">
                            <option class="textsOption  fst-italic text-info fs-3 text-center">choose the type of loan to apply for</option>
                            <option class="textsOption2 fst-italic text-black-50 fs-4  fw-semibold font-monospace text-center" v-for="loan in loans" :value="loan.id">{{loan.name}}</option>
                        </select>


                    <div v-if="loanId == 7">
                        <h4 class="text-white textResponsive fst-italic fw-bold font-monospace d-flex justify-content-center mt-1 mb-4 fs-2">Max amount: $5000000</h4>
                    </div>
                    <div v-if="loanId == 8">
                        <h4 class="text-white textResponsive fst-italic fw-bold font-monospace d-flex justify-content-center mt-1 mb-4 fs-2">Max amount: $1000000</h4>
                    </div>
                    <div v-if="loanId == 9">
                        <h4 class="text-white  textResponsive fst-italic fw-bold font-monospace d-flex justify-content-center mt-1 mb-4 fs-2">Max amount: $300000</h4>
                    </div>
                    <h3 class="text-white textResponsive fst-italic fw-bold font-monospace d-flex justify-content-center mb-2 mt-5 fs-2">Please indicates the amount request</h3>

                    <div class="inputAmount form-trans  d-flex justify-content-center mb-5">
                        <span class="input-group-text">$</span>
                        <input v-model="amount" style="text-align:center;" type="number" >  
                    </div> 

                

                    <h3 class="text-white textResponsive fst-italic fw-bold font-monospace d-flex justify-content-center fs-2 mb-2" v-if="loanId">How many months do you want to pay?</h3>
                    <div v-if="loanId" class="mb-3">
                        <select class="formSelects form-select mb-5 " v-model="loanPays" class="form-select" aria-label="Default select example">
                            <option class="textsOption2 fst-italic text-black-50 fs-4 text-center fw-semibold font-monospace" v-for="payment in loans.filter(l => l.id == loanId)[0].payments">{{payment}}
                            </option>
                        </select>
                    </div>

                    <h3 class="text-white textResponsive fst-italic fw-bold font-monospace d-flex justify-content-center  mb-2 fs-2">Select the destination account</h3>
                    <div class="mb-3">
                        <select class="formSelects form-select " v-model="accountDestiny" class="form-select" aria-label="Default select example">
                            <option class="textsOption  fst-italic text-info fs-3 text-center ">From which account do you want
                                to make the Loan</option>
                            <option class="textsOption2 fst-italic text-black-50 fs-4 text-center fw-semibold font-monospace" v-for="account in accounts" :value="account.number">ACCOUNT
                                NUMBER:{{account.number}} </option>
                        </select>
                    </div>


                    

                </form> 

                     <!-- Button trigger modal -->

                     <div class="tranferButtom">
                        <div
                            v-if="loanId == false || amount <= 0 ||  loanPays == '' || accountDestiny == false">
                            <button type="button" disabled class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                APPLY FOR LOAN
                            </button>
                        </div>
                        <div v-else>
                            <button type="button " class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                APPLY FOR LOAN
                            </button>
                            
                        </div>
                    </div> 

                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">LOAN IN
                                        PROCESS
                                    </h5>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <h3>ARE YOU SURE YOU WANT TO MAKE THIS LOAN?</h3>
                                </div>
                                <div class="modal-body">
                                    <h4>Amount due:  {{modificarSaldo(amountCalc())}}</h4>    
                                </div>
                                <div class="modal-body">
                                    <h4>payments due: {{modificarSaldo(paymentsCalc())}}</h4>    
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">CLOSE</button>
                                    <button type="button" class="btn btn-primary"
                                        @click="loanPetition">I'M
                                        SURE </button>
                                </div>
                            </div>
                        </div>
                    </div>


                
                </div>
       




    </main>

    <div class="home">
 </div>









    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!-- <script src="/path/to/flickity.pkgd.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="./loan-application.js"></script>
    <script src="https://kit.fontawesome.com/6b623874a7.js" crossorigin="anonymous"></script>



</body>

</html>