* {
    margin: 0;
    padding: 0;    
}

body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
    background-size: contain;
    
}

/* Navbar */
main{
    font-family: 'Poppins', sans-serif;
}

/* inicio logo navbar */
.logo {
    position: relative;
    width: 4.5em;
    height: 0;
    z-index: 4;
}
.logo .wrapper {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    z-index: 1;
    border-bottom: 2px solid #32008d;
}
.logo img {
    width: 100%;
    padding: 0.9em;
    z-index: 3;
}
/* fin logo navbar */

.navbar{
    border-bottom: 2px #031992 solid;
}
.footer12{
    background-color: #031992 !important;
}
.signup{
    background-color: #031992 !important;
    color: white;
}
.nav li{
    font-family: 'Fjalla One', sans-serif !important;
    font-weight: bold;
}

.ancor-nav{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    font-size: 18px !important;
    color: black !important;
}

.ancor-nav:hover, .ancor-nav:focus {
    background-size: 100% 2px 
}
/* fin navbar */


/* Inicio Carrusel */
.imagenes-Carrusel{
    z-index: 2;
    height: 70vh;
    object-fit: cover;
}

.carousel-caption{
    background-color: rgba(240, 255, 255, 0.099);
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
}
.carousel-caption>h5{
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
}
/* Fin Carrusel */

/* Main */

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}
/* inicio estilo cartas productos*/
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}
.card-title{
    font-weight: bold;
}
.img-carta{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card-block>a{

    font-weight: bold;
    background-color:rgb(240,162,79);
}
/* fin estilo cartas productos */

/* inicio estilo mapa de la pagina de inicio */
.maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}
.maps>h3{
    margin: 2vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
iframe{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60vw;
    height: 70vh;
}
/* fin estilo mapa */

/* Inicio Footer */

.LogosFooter{
    width: 1rem;
    height: 1rem;
}
.LogosFooter>img{
    justify-items: center;
}
.botones{
    border-radius: 40%;
}
.enlaces{
    color: white !important;
}
footer{
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
}
/* fin footer */

/* Inicio Formulario */

.contact_form{  
    width: 480px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
    box-shadow: #f35e59 3px 3px 3px 3px;
}

input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #f27874; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

.mascotas-Contenedor{
    display: table-column;
}

.input-Mascotas{
    width: 100px;
    height: 20px; 
}


textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #f27874; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label{
    display: block; 
    float: center;  
}

#enviar{
    height: 50px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #fc7e7a; 
    border-color: #c44641; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
}

button p{
    color: #fff; 
}

span{
    color: #c44641; 
}

.aviso{
    font-size: 13px;  
    color: #0e0e0e;  
}

.formulario-titulo{
    font-size: 39px; 
    margin-right: 2rem;
    text-align: center; 
    padding-bottom: 20px; 
    color: #f35e59;
}

h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
}

p{
    font-size: 14px; 
    color: #0e0e0e; 
}

.enviar{
    margin-top: 10px !important;
}

::-webkit-input-placeholder {
    color: #a8a8a8;
}

::-webkit-textarea-placeholder {
    color: #a8a8a8;
}

.formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
}

.formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
}

/* Fin Formulario */

/*inicio estilo farmacia y juguetes */
body {
    min-height: 100vh;
}
#app {
    min-height: 100vh;
}

/*inicio menu dropdown carrito*/
.dropdown {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: flex-end;
}
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    content: '';
}
.dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 10px;
    content: '';
}

/* inicio estilo boton de carrito - tiene mediaquery */
.carrito-position{
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn-carrito{    
    font-family: 'Fjalla One', sans-serif !important;
    font-size: 1.5rem;
    border-radius: 3px;
    height: 3rem;
}
/* fin estilo boton de carrito */

/* estilo cards */
.cards-producto {
    width: 18rem;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2rem;
    height: 29rem;
}

.card-img-top{
    object-fit: cover;
    max-height: 50%;
    border-radius: 20px;
}

/* estilo h1 */
.titulo-tienda{
    font-family: 'Fjalla One', sans-serif !important;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-right: 2rem;
}
/* boton naranja de "agregar a carrito" */
.btn-tienda{
    font-size: 1rem;
    font-weight: bold;
    background-color:rgb(240,162,79);
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* estilo searchbar y filtro */
.search-bar{
    margin-top: 4rem !important;
}
.search-bar, .search-filter{
    margin: 1rem;
    justify-content: center !important;
    width: 70% !important;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* MEDIAQUERRYS */
@media screen and (min-width: 319px) and (max-width: 400px) {
    
    /* inicio responsive tienda mobile */
    .search-bar{
        margin-top: 5rem !important;
    }
    .titulo-tienda{
        text-align: center !important;
        right: 28% !important;
        margin-left: 30px;
    }
    .carrito-position{
        position: absolute;
        align-items: center;
        top: 28% !important;
        right: 28% !important;
        z-index: 2;
        margin: auto;
        text-align: center;  
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    footer, iframe{
        width: 100%;
    }
    .ancor-nav{
        font-size: 12px !important;
    }
    .imagenes-Carrusel{
        height: 15em;
    }
}
    /* fin responsive tienda */
@media screen and (min-width: 401px) and (max-width: 1132px) {
    /*  inicio responsive mobile & tablet*/
    .search-bar{
        margin-top: 5rem;
    }
        /* fin responsive tienda */
}
